<!DOCTYPE html>
<html>
<head>
    <title>User Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .column-title {
            font-size: 20px;
            font-weight: bold;
        }

        .name {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">User Table</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="column-title">First Name</th>
                    <th class="column-title">Last Name</th>
                    <th class="column-title">Full Name</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="name">{{ user['first_name'] }}</td>
                    <td class="name">{{ user['last_name'] }}</td>
                    <td class="name">{{ user['first_name'] }} {{ user['last_name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>


